<header id="main-header">
  <div id="content-header"
    class="container absolute top-0 left-[50%] z-50 w-full lg:w-11/12 md:w-11/12 sm:w-11/12 max-sm:w-11/12 transform-[translateY(0)_translateX(-50%)] mx-auto flex items-center justify-between bg-[#ffffff] shadow-xl p-2 mt-4 rounded-full transition-[height,width] duration-700 ease-in-out">
    <a href="" class="pr-2 block w-20"><img src="{{ site.baseurl }}/assets/img/MP_Logo.svg"
        alt="Logo Monster Print" /></a>
    <div id="menu-nav" class="hidden lg:flex items-center justify-center">
      <nav class="mt-2">
        <ul class="flex space-x-4">
          <li><a href="#" class="slanted-underline hover:text-[#039be5]">المنتجات</a></li>
          <li><a href="#" class="slanted-underline hover:text-[#039be5]">الخدمات</a></li>
          <li><a href="#" class="slanted-underline hover:text-[#039be5]">من نحن</a></li>
          <li><a href="#" class="slanted-underline hover:text-[#039be5]">تواصل معنا</a></li>
        </ul>
      </nav>

      <a href="#" class="rounded-full ms-5 bg-[#f1534d] px-4 py-2 text-white hover:bg-[#039be5] transition">
        اطلب تصميمك
      </a>
    </div>


    <button id="menuBtn" class="hamburger hamburger--slider lg:hidden! flex! items-center justify-center pl-2!"
      type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>


  </div>


</header>